main/default/flows/Set_Cost_of_BOM_to_Work_orders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Get_total_BOM_Cost</name>
        <label>Get total BOM Cost</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>TotalCost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_the_BOM_cost.BOM_Actual_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_the_BOM_cost</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>BOMActualCost</name>
        <dataType>Currency</dataType>
        <expression>if({!$Record.BOM_Line_Item__r.Cost_Card__c} != null, ({!$Record.BOM_Line_Item__r.Cost_Card__r.Cost__c} * {!$Record.Fulfilled_Amount__c}),({!$Record.BOM_Line_Item__r.Cost_Price__c} * {!$Record.Fulfilled_Amount__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>BOMRequirementCost</name>
        <dataType>Currency</dataType>
        <expression>if({!$Record.BOM_Line_Item__r.Cost_Card__c} != null, ({!$Record.BOM_Line_Item__r.Cost_Card__r.Cost__c} * {!$Record.Required_Amount__c}),({!$Record.BOM_Line_Item__r.Cost_Price__c} * {!$Record.Required_Amount__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MRPSCost</name>
        <dataType>Number</dataType>
        <expression>{!Assign_the_BOM_cost.Total_Amount_Required__c} * {!Assign_the_BOM_cost.BOM_Line_Item__r.Cost_Price__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Set Cost of BOM to Work orders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Cost of BOM to Work orders</label>
    <loops>
        <name>Assign_the_BOM_cost</name>
        <label>Assign the BOM cost</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_all_MRPS_associated_with_Work_Order</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_total_BOM_Cost</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Work_orders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_MRPS_associated_with_Work_Order</name>
        <label>Get all MRPS associated with Work Order</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_the_BOM_cost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>BOM__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BOM__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MO__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>BOM_Line_Item__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MRP__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_BOM_actual_cost_and_Requirement_Cost</name>
        <label>Set BOM actual cost and Requirement Cost</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Get_all_MRPS_associated_with_Work_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>BOM_Actual_Cost__c</field>
            <value>
                <elementReference>BOMActualCost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BOM_Requirement_Cost__c</field>
            <value>
                <elementReference>BOMRequirementCost</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_orders</name>
        <label>Update Work orders</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Material_Cost__c</field>
            <value>
                <elementReference>TotalCost</elementReference>
            </value>
        </inputAssignments>
        <object>WO__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_BOM_actual_cost_and_Requirement_Cost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BOM_Line_Item__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>MRP__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TotalCost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
